@page "/execute"
@inject PersonalGymBook.Services.WorkoutService WorkoutService
@using PersonalGymBook.Models

<h3>Execute Workout Plan</h3>

@* Implementation of the page to execute workout plans *@

@code {
    // Implementation code for executing workout plans
}
